@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/20181218/bodybg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	z-index: 0;
}
div,ul,li,dt,dd,dl,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,hr{margin:0px;padding:0px;list-style:none;}
body,td,th {font-size: 12px;line-height:24px;color:#222222;}
a:link,a:visited{color:#222222;text-decoration:none;}
a:hover{
	color: #be2634;
}
img { border:0;}
#main {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微软雅黑";
}
#top {
	float: left;
	width: 1200px;
	height: 145px;
}

#logo {
	float: left;
	height: 144px;
	width: 722px;
}
#fubiao {
	z-index: 999;
}

#sc {
	float: right;
	height: 50px;
	width: 240px;
	padding-top: 30px;
	padding-left: 30px;
}
#searchsy {
	float: right;
	width: 250px;
	padding-top: 20px;
}

#sc a {
	width: 70px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	line-height: 40px;
}
#sc a:hover {
	color: #FF0;
}
#menu {
	float: left;
	height: 45px;
	width: 1200px;
	z-index: 0;
}
#flash {
	float: left;
	height: 412px;
	width: 927px;
	text-align: center;
	overflow: hidden;
}
#lmflash {
	float: left;
	height: 485px;
	width: 1200px;
	text-align: center;
	overflow: hidden;
}
#kslj {
	float: right;
	width: 260px;
	background-color: #eee;
	height: 413px;
}
#kslj .title {
	float: left;
	height: 34px;
	width: 134px;
}
#kslj .detail {
	float: left;
	width: 260px;
	padding-top: 10px;
}
#kslj .detail a {
	padding-top: 17px;
	height: 36px;
	float: left;
	text-align: center;
	width: 260px;
}
#kslj .detail2 {
	float: left;
	width: 260px;
}
#kslj .detail2 a {
	padding-top: 16px;
	height: 47px;
	float: left;
	text-align: center;
	width: 260px;
}



#picmenu {
	float: left;
	width: 1000px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#picmenu .pic_link {
	float: left;
	width: 250px;
}
#picmenu .pic_link a {
	width: 250px;
	text-align: center;
	float: left;
	font-size: 16px;
	line-height: 32px;
}
#picmenu .pic_link .name {
	width: 100px;
	height: 30px;
	margin-right: 75px;
	margin-left: 75px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}
#picmenu .pic_link .name:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #be2634;
	color: #000;
}
#tzgg {
	float: left;
	width: 300px;
	background-color: #eee;
	height: 179px;
}
#tzggtitle {
	float: left;
	height: 34px;
	width: 137px;
	text-align: left;
}
#tzgg .tzggmore {
	float: right;
	width: 60px;
	line-height: 34px;
	height: 34px;
}

#tzgglist {
	float: left;
	height: 130px;
	width: 290px;
	padding-left: 10px;
	padding-top: 10px;
}
#tzggbottom {
	float: right;
	height: 95px;
	width: 510px;
	text-align: center;
	margin-top: 10px;
}
#gzwm {
	float: right;
	width: 200px;
	background-color: #eee;
	height: 180px;
}

#xwzx {
	float: left;
	height: 283px;
	width: 680px;
	background-repeat: no-repeat;
	background-position: 3px 3px;
	position: relative;
	background-color: #eee;
	margin-right: 10px;
}

#nav a {
	float: left;
	width: 136px;
	height: 35px;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
}

#content1 {
	height: 210px;
	width: 620px;
	position: absolute;
	visibility: visible;
	left: 13px;
	top: 53px;
}
#content2 {
	height: 210px;
	width: 620px;
	position: absolute;
	visibility: hidden;
	left: 13px;
	top: 53px;
}
#content3 {
	height: 210px;
	width: 620px;
	position: absolute;
	visibility: hidden;
	left: 13px;
	top: 53px;
}
.title a {
	float: left;
	width: 136px;
	height: 35px;
	font-size: 16px;
	line-height:35px;

}
#synav1{
	color:#FFF;
	background-image: url(../images/20181218/titlebg2.jpg);
	}
#synav2{
	color:#000;
	background-image: url(../images/20181218/titlebg.jpg);
	}
#synav3{
	color:#000;
	background-image: url(../images/20181218/titlebg.jpg);
	}
#nav1{
	color:#FFF;
	background-image: url(../images/20181218/titlebg2.jpg);
	}
#nav2{
	color:#000;
	background-image: url(../images/20181218/titlebg.jpg);
	}
#nav3{
	color:#FFF;
	background-image: url(../images/20181218/titlebg2.jpg);
	}
#nav4{
	color:#000;
	background-image: url(../images/20181218/titlebg.jpg);
	}

#content4 {
	height: 190px;
	width: 380px;
	position: absolute;
	visibility: visible;
	left: 0px;
	top: 53px;
}
#content5 {
	height: 190px;
	width: 380px;
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 53px;
}
#content6 {
	height: 190px;
	width: 380px;
	position: absolute;
	visibility: visible;
	left: 600px;
	top: 53px;
}
#content7 {
	height: 190px;
	width: 380px;
	position: absolute;
	visibility: hidden;
	left: 600px;
	top: 53px;
}
#content8 {
	height: 300px;
	width: 530px;
	position: absolute;
	visibility: visible;
	left: 0px;
	top: 53px;
}
#content9 {
	height: 300px;
	width: 530px;
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 53px;
}
#content10 {
	height: 180px;
	width: 530px;
	position: absolute;
	visibility: visible;
	left: 0px;
	top: 53px;
}
#content11 {
	height: 180px;
	width: 530px;
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 53px;
}
#content14 {
	height: 190px;
	width: 570px;
	position: absolute;
	visibility: visible;
	left: 0px;
	top: 53px;
}
#content15 {
	height: 190px;
	width: 570px;
	position: absolute;
	visibility: hidden;
	left: 0px;
	top: 53px;
}
#content16 {
	height: 190px;
	width: 570px;
	position: absolute;
	visibility: visible;
	left: 600px;
	top: 53px;
}
#content17 {
	height: 190px;
	width: 570px;
	position: absolute;
	visibility: hidden;
	left: 600px;
	top: 53px;
}
.newslist {
	float: left;
	height: 180px;
	width: 380px;
}
.nynewslist {
	float: left;
	width: 100%;
}
.nynewsmore {
	float: left;
	height: 30px;
	width: 100%;
	text-align: right;
	font-size: 12px;
	line-height: 30px;
}
.sypic {
	float: right;
	height: 210px;
	width: 240px;
}
.newsmore {
	float: left;
	height: 30px;
	width: 360px;
	text-align: right;
	font-size: 12px;
	line-height: 30px;
}
.tzggmore {
	float: right;
	height: 30px;
	width: 60px;
	text-align: left;
}
#footerbg {
	float: left;
	width: 100%;
	height: 130px;
	background-color: #be2634;
	font-family: "微软雅黑";
}
#yqlj {
	height: 30px;
	width: 1200px;
	background-color: #FFFFFF;
	color: #000;
	font-family: "微软雅黑";
	float: left;
	padding-top: 10px;
}
#yqljtitle {
	float: left;
	height: 30px;
	width: 90px;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	text-align: right;
}
#yqlj a {
	padding-right: 20px;
	padding-left: 20px;
	color: #000;
	line-height: 30px;
}

#yqlj a:hover {
	color: #be2634;
}

#footer {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 130px;
	line-height: 18px;
	text-align: center;
}
#ewm {
	float: left;
	width: 230px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#ewm p{
	float: left;
	text-align: center;
	padding-left: 20px;
}
#ewm img {
	margin-left: 15px;
	margin-top: 20px;
}

#addr {
	float: right;
	padding-left: 20px;
	color: #FFF;
	padding-top: 20px;
	text-align: left;
	width: 700px;
}
#ewm-b {
	float: left;
	padding-left: 300px;
	color: #FFF;
	padding-top: 20px;
	width: 160px;
}
#ewm-b p{
	float: left;
	width: 80px;
	text-aligh: center;
	color: #FFF;
	font-size: 10px;
	}
#nyflash {
	float: left;
	height: 274px;
	width: 1200px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
}#left {
	float: left;
	width: 250px;
}
.menuleft{
	float: left;
	width: 250px;
	height: 28px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	color: #333;
	text-decoration: none;
}
.menuleft:hover{
	color: #039;
}
.title {
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	font-weight: bold;
	color: #900;
}
.title-left {
	float: left;
	height: 35px;
	width: 150px;
	font-size: 18px;
	line-height: 35px;
	color: #FFF;
	text-align: center;
	background-color: #be2634;

}
.title-right {
	float: right;
	height: 34px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	line-height: 34px;
}
.title-right #url1 {
	width:150px;
	float:left;
	font-size: 12px;
}
.title-right #url2 {
	width:100px;
	float:right;
	font-size: 12px;
}
.title-right #url3 {
	width:100px;
	float:left;
	font-size: 12px;
}
.title-right a {
	width:60px;
	float:right;
	font-size: 12px;
}
.detail {
	float: left;
	width: 100%;
}
.title-r {
	float: left;
	width: 100%;
	height: 34px;
	background-image: url(../images/title-bg-r.jpg);
}
.title-r .title-left-r {
	float: left;
	height: 34px;
	width: 110px;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
	background-image: url(../images/title-left-r.jpg);
	text-align: left;
	background-repeat: no-repeat;
	padding-left: 40px;
}
.title-r .title-right-r {
	float: right;
	height: 34px;
	width: 65px;
	background-image: url(../images/title-right-r.jpg);
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	line-height: 30px;
}
.title-r .title-right-r a{
	color: #FFF;
}
.title-r .title-right-r a:hover{
	color: #FF0;
}
.detail-70r {
	float: left;
	width: 650px;
	background-color: #EEF7FE;
	background-image: url(../images/title-mid-70r.jpg);
	padding-left: 8px;
}
.detail-70 {
	float: left;
	width: 650px;
	padding-left: 8px;
}

.bottom-70r {
	float: left;
	width: 100%;
	height: 5px;
	background-image: url(../images/title-bot-70r.jpg);
}
.detail-30r {
	float: left;
	width: 324px;
	background-color: #EEF7FE;
	background-image: url(../images/title-mid-30r.jpg);
}
.bottom-30r {
	float: left;
	width: 100%;
	height: 5px;
	background-image: url(../images/title-bot-30r.jpg);
}
#right {
	float: right;
	width: 950px;
}
#path {
	float: left;
	height: 54px;
	width: 910px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	line-height: 54px;
	padding-left: 40px;
	background-image: url(../images/20181218/pathbg.jpg);
	background-repeat: no-repeat;
}
#path #lammu {
	float: left;
	width: 200px;
	font-size: 18px;
	font-weight: bold;
	color: #900;
	line-height: 54px;
	height: 54px;
}
#path #path2 {
	float: right;
	width: 600px;
	text-align: right;
	height: 54px;
	line-height: 54px;
	padding-right: 50px;
	font-size: 14px;
}


#search {
	float: right;
	height: 35px;
	width: 250px;
	padding-top: 5px;
}
#list {
	float: right;
	width: 900px;
	padding: 20px;
	margin-bottom: 5px;
}
#neirong {
	float: right;
	width: 920px;
	padding: 10px;
	margin-bottom: 5px;
}
#content {
	float: left;
	width: 1200px;
	position: relative;
	background-repeat: repeat-y;
	background-position: left;
}
#zhanwei {
	float: left;
	height: 230px;
}

#content .nyleft {
	float: left;
	width: 800px;
}

#contentfj {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 600px;
	float: left;
}
#contentbg {
	float: left;
	width: 100%;
	background-image: url(../images/contentbg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
#leftpic {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.lm30 {
	float: left;
	width: 388px;
	background-color: #eee;
	margin-top: 10px;
	margin-right: 10px;
}
.lm24 {
	float: left;
	width: 290px;
	background-color: #eee;
	margin-top: 10px;
	margin-right: 10px;
}
.lm50 {
	float: left;
	width: 590px;
	background-color: #eee;
	margin-top: 10px;
	margin-right: 10px;
}
.lm70 {
	float: left;
	width: 790px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #eee;
}
.lm100 {
	float: left;
	width: 1190px;
	padding-right: 10px;
	padding-top: 5px;
}
.pic {
	text-align: center;
	width: 200px;
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 170px;
	clear: both;
}
.pic2 {
	text-align: center;
	width: 250px;
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 170px;
	clear: both;
}
.pic3 {
	text-align: center;
	width: 250px;
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 170px;
}
.list60 {
	float: left;
	width: 535px;
	height: 310px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list603 {
	float: left;
	width: 535px;
	height: 190px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list602 {
	float: left;
	width: 535px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.list604 {
	float: left;
	width: 385px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.duiqi {
	float: left;
	width: 800px;
}

.list100 {
	float: right;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nylist100 {
	float: left;
	width: 380px;
	height: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#fwdh {
	float: right;
	width: 400px;
	margin-top: 10px;
	}
#fwdh img {
	margin: 5px;
}

#fwzq {
	float: left;
	height: 55px;
	width: 1002px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#fwzq a {
	float: left;
}
#jyglyqlj {
	float: left;
	height: 60px;
	width: 962px;
	margin-top: 5px;
	background-color: #e3e3e3;
	padding-top: 15px;
	padding-left: 40px;
	background-image: url(../images/jyglyqlj.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#toptwgz {
	float: left;
	width: 1002px;
	height: 105px;
	background-image: url(../images/logotwgz.jpg);
}
#twgzyxtyfc {
	float: left;
	height: 200px;
	width: 1180px;
	padding-left: 10px;
	padding-top: 5px;
	margin-top: 10px;
	padding-right: 10px;
	background-color: #eee;
}
#line {
	float: left;
	height: 5px;
	width: 1002px;
}
#topdjgz {
	float: left;
	width: 1002px;
	height: 105px;
	background-image: url(../images/logodjgz.jpg);
}
#djgzlink {
	float: right;
	height: 90px;
	width: 388px;
	margin-top: 10px;
	margin-right: 10px;
}
#djgzlink a {
	float: left;
	margin-top: 10px;
}
#neirong .biaoti {
	float: left;
	height: 42px;
	width: 698px;
	font-size: 20px;
	color: #F60;
	font-weight: bolder;
	line-height: 42px;
	text-align: center;
}
#xydt {
	float: left;
	width: 1000px;
	display:none;
}


.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
#container{margin:0 auto;}
#container h2 {font-weight:normal;line-height:28px;}
#container p{padding:5px 0;}
	#timeline {
	border: 0px solid #66cc66;
	width: 720px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background: url('../images/dot.gif') left 55px repeat-x;
	height: 1400px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	}
		#dates {
	width: 720px;
	height: 40px;
	overflow: hidden;
	padding-top: 10px;
	background-image: url(../images/line.jpg);
	background-repeat: repeat-x;
	background-position: 0px 27px;
		}
			#dates li {
	list-style: none;
	float: left;
	width: 140px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	background-image: url(../images/point.jpg);
	background-repeat: no-repeat;
	background-position: center 17px;
			}
				#dates a {
	line-height: 18px;
	padding-bottom: 10px;
	color: #069;
	height: 40px;
				}
				#dates .selected {
	font-size: 22px;
	color: #f40;
				}
		
		#issues {
	width: 720px;
	height: 1400px;
	overflow: hidden;
		}	
			#issues li {
	width: 720px;
	list-style: none;
	float: left;
	height: 1400px;
			}
				#issues li img {
					float: left;
					margin: 10px 30px 10px 50px;
					border-radius:4px;
				}
				#issues li h1 {
					width:740px;
					color: #ffcc00;
					font-size: 24px;
					margin:5px 0;
					text-shadow: #0c4c0c 1px 1px 2px;
				}
				#issues li p {
	font-size: 16px;
	margin-right: 60px;
	font-weight: normal;
	line-height: 28px;
	text-shadow: #006699 1px 1px 2px;
	text-indent: 2em;
				}
		
		#grad_left,
		#grad_right {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
		}
			#grad_left {
		        left: 0;
		        border-radius:5px;
		        background: url('../images/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../images/grad_right.png') repeat-y;
			}
		
